#box{
  margin: auto;
  color: white;
  max-width: 600px;
  text-align: center;
}
h1{ 
  color: #bbbbbbcc;
}
#span{
  color: #2589fac7;
}
#inputs{
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  color: white;
  background-color: #bbbbbbcc;
  height: 2.7em;
  width: 250px;
  border: none;
  border-radius: 6px;
  margin-right: 10px;
}
button{
  background-color: #25e1fac7;
  height: 3em;
  border: none;
  border-radius: 6px;
  color: white;
}
#resultado{
  background-color: #bbbbbbcc;
  max-width: 600px;
  margin: 25px;
}
#icon{
  width: 2em;
}